.header {
    display: flex;
    /* 15 top botton, 20 left right */
    padding: 10px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.hidden{
    display: none;
}
.header__left {
    display: flex;
    justify-content: space-evenly;
}

.header__left>img {
    height: 40px;
    margin: 10px;
}


.header__center {
    display: flex;

    padding-top: 1%;
 
    justify-content: center;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none !important;
    cursor: pointer;
}

.header__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header  > a{   
    text-decoration: none !important;
  }
  .header__option >.MuiSvgIcon-root {
        text-decoration: none;
        
        padding: 18px 0;
  }                  
.header__option--active>.MuiSvgIcon-root {
    color: #2e81f4;
}

.header__option--active {
    border-bottom: 4px solid #2e81f4;
}

.header__option>.MuiSvgIcon-root {
    color: gray;
    padding: 5px;
}

.header__option:hover>.MuiSvgIcon-root {
    color: #1169e6
}

.header__info {
    display: flex;
    align-items: center;
}
.header__info:hover{
    cursor: pointer;
    box-shadow: 1px gray;
}

.header__info>h4 {
    margin-left: 10px;
    padding-left: 5px;
}

.header__right {
    display: flex;
}
.header__info a{
 text-decoration: none !important;
 display: flex;

 align-items: center;
 text-decoration-color: black;
}
.header__right> .header__info a {
        text-decoration: none;
        padding-left: 5px;
}
@media screen and (max-width: 480px) {

  .header{
    display: flex;
    /* 15 top botton, 20 left right */
    min-width: 100px;
    max-width: 100px;
    margin-left: -20px;
    padding: 10px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    
    
  }
  .hideUserName{
      display: none;
  }
  
.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none !important;
    cursor: pointer;
    z-index: 200;
}
.headerBorder{
    box-shadow: 0px 5px 8px -9px rgba(75, 51, 51, 0.75) !important;
}

}
