.newblog{
 border-radius: 1%;
  
 padding: 0 5%;
 
padding: 5%;
}
.newblog__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 10px;
    
    align-items: center;
}
.newblog__top h4{
    padding: 4px;
}
.newblog {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .newblog label {
    text-align: left;
    display: block;
  }
  .newblog h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .newblog input {
    width: 100%;
    
  
    margin: 10px;
    box-sizing: border-box;
    display: block;
    outline-width: 0;
    border: none;
    padding: 5px 20px;
   
    background-color: #eff2f5;
  }
  .newblog textarea {
    width: 100%;
   
   margin: 10px;
    
    box-sizing: border-box;
    display: block;
    outline-width: 0;
    border: none;
    padding: 5px 20px;
  
    background-color: #eff2f5;
  }
  .newblog button {
    background: #f1356d;
    color: #fff;
    border: 0;
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  